<div class="container">
  <h4 class="text-center mt-4">Login</h4>

  <form class="form mt-5" (ngSubmit)="login()" #loginForm="ngForm">
    <div class="mb-3">
      <input
        class="form-control"
        placeholder="Nome do Usuário"
        type="text"
        [(ngModel)]="usuario"
        name="usuario"
        #campoUsuario="ngModel"
        required>
        <app-mensagem
          *ngIf="campoUsuario.invalid && campoUsuario.touched"
          mensagem="Usuário obrigatório">
        </app-mensagem>
    </div>

    <div class="mb-4">
      <input
        class="form-control"
        placeholder="Senha"
        type="password"
        [(ngModel)]="senha"
        name="senha"
        #campoSenha="ngModel"
        required>
        <app-mensagem
          *ngIf="campoSenha.invalid && campoUsuario.touched"
          mensagem="Senha obrigatória">
        </app-mensagem>
    </div>

    <div class="d-grid gap-2">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="loginForm.invalid">
        Login
      </button>
    </div>
  </form>
</div>

